@import "tailwindcss";

html {
  scroll-behavior: smooth;
  overscroll-behavior: none;
}

body{
  font-family: "Bricolage Grotesque", sans-serif !important;
  scroll-behavior: smooth;
  overscroll-behavior: none;
}
